.main {
  height: calc(100% - 100px);
  width: 100%;
  display: flex;
}

.input-address-area {
  background-color: lightblue;
  width: 50%;
  height: 100%;
}

.explanation-left {
  color: gray;
  font-size: 30px;
  text-align: center;
  margin: 20px 0px 20px;
}

.top-form {
  margin: 20px;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.en-address-area {
  width: 50%;
  height: 100%;
}
  
.explanation-right {
  color: gray;
  font-size: 30px;
  text-align: center;
  margin: 20px 0px 20px;
}

.en-addresses {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.en-field {
  width: 420px;
  height: 70px;
  margin: 10px;
}

.lower-en-field {
  margin-top: 10px;
  display: flex;
}

.en-address {
  width: 90%;
  font-size: 20px;
  padding: 10px;
  border: 2px solid lightblue;
}

.clipboard-btn-icon {
  height: 40px;
  padding: 2px;
  border: 2px solid lightblue;
  background-color: #efefef;
}