.main-header {
  height: 50px;
  background-color: rgb(54, 53, 53);
  display: flex;
  align-items: center;
  position: relative;
}

.user-pop {
  height: 100%;
  display: none;
  align-items: center;
  position: absolute;
  right: 250px;
}

.user-pop-text {
  font-size: 12px;
  position: absolute;
  left: 6px;
}

.main-title {
  position: absolute;
  left: 50px;
}

.app-name {
  font-size: 30px;
  color: #ffffff;
}

.main-header-nuv {
  position: absolute;
  right: 100px;
}

.header-links {
  display: flex;
  justify-content: space-between;
}

.help-icon {
  height: 16px;
  cursor: pointer;
  position: absolute;
  left: 62px;
  bottom: 13px;
}

a {
  color: #ffffff;
}