<footer class="main-footer">
  <div class="main-footer-title">
    <div class="app-name-footer">
      住所英訳アプリ
    </div>
  </div>
  <div class="move-btn">
    <%= image_tag 'move_btn_icon.png', alt: '上矢印', class: 'move-btn-icon' %>
    <span class="move-text">ページ上部へ</span>
  </div>
</footer>
