<h1 class="explanation-right">表示欄に英訳されて表示されます</h1>

<div class="en-field", id='en_room_number'>
</div>

<div class="en-field", id='en_building_name'>
</div>

<div class="en-field", id='en_house_number'>
</div>

<div class="en-field", id='en_city'>
</div>

<div class="en-field", id='en_prefecture'>
</div>

<div class="en-field", id='en_postal_code'>
</div>
