<h1 class="explanation-right">表示欄に英訳されて表示されます</h1>

<div class="en-addresses">
  <div class="en-field">
    <div class="en-label">Address Line1</div>
    <div class="en-address" id='en_address_line1'></div>
  </div>

  <div class="en-field">
    <div class="en-label">Address Line2</div>
    <div class="en-address" id='en_address_line2'></div>
  </div>

  <div class="en-field">
    <div class="en-label">city</div>
    <div class="en-address" id='en_city'></div>
  </div>

  <div class="en-field">
    <div class="en-label">State/Province/Region</div>
    <div class="en-address" id='en_state_province_region'></div>
  </div>

  <div class="en-field">
    <div class="en-label">ZIP/Postal Code</div>
    <div class="en-address" id='en_postal_code'></div>
  </div>

  <div class="en-field">
    <div class="en-label">Country</div>
    <div class="en-address" id='en_country'></div>
  </div>
</div>
