<h1 class="explanation-right">表示欄に英訳されて表示されます</h1>

<div class="en-field">
  <span id='en_address_line1'></span>
</div>

<div class="en-field">
  <span id='en_address_line2'></span>
</div>

<div class="en-field">
  <span id='en_city'></span>
</div>

<div class="en-field">
  <span id='en_state_province_region'></span>
</div>

<div class="en-field">
  <span id='en_postal_code'></span>
</div>

<div class="en-field">
  <span id='en_country'></span>
</div>
