<%= render "shared/main_header" %>
<div class="main">
  <div class="input-address-area">
    <%= render "addresses/left_index" %>
  </div>
  <div class="en-address-area">
    <%= render "addresses/right_index" %>
  </div>
</div>
<%= render "shared/main_footer" %>
