<%= render "shared/main_header" %>
<div class="main">
  <%# コピーに成功した場合表示 %>
  <div class="clip-message", id="clip-message">
    コピーしました
  </div>
  <%# //コピーに成功した場合表示 %>
  <div class="input-address-area">
    <%= render "addresses/left_index" %>
  </div>
  <div class="en-address-area">
    <%= render "addresses/right_index" %>
  </div>
</div>
<%= render "shared/main_footer" %>
