<%= render "shared/sub_header" %>
<div class="main">
  <div class="input-address-area">
    <%= render "left_show"%>
  </div>
  <div class="en-address-area">
    <%= render "right_show"%>
  </div>
</div>
<%= render "shared/sub_footer" %>