<%= render "shared/sub_header" %>
<div class="main">
  <%# コピーに成功した場合表示 %>
  <div class="clip-message", id="clip-message">
    コピーしました
  </div>
  <%# //コピーに成功した場合表示 %>
  <div class="input-address-area">
    <%= render "left_show"%>
  </div>
  <div class="en-address-area">
    <%= render "right_show"%>
  </div>
</div>
<%= render "shared/sub_footer" %>